<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
  

{% block body %}
    

        <h3>Form</h3>

    <div class="well">
        {{ form(form) }}
        {{ form_widget(form.send, { 'label': 'Click me' }) }}
    </div>
    
   
     {% endblock %}
     
     
     
     
</html>
    